.fixed_b {
  position: fixed;
}
.cc-contactpop { 
  background-color:white;
  color:#fff;
  width:15vw;
  bottom: 0px;
  left: 50px;
  border-radius: 6px 6px 0px 0px;
}
.cc-contactpop h3 {
  border-radius: 6px 6px 0px 0px;
 
  color:#fff;
  text-shadow:none;
  font-size:16px;
  font-weight:600;
  background-color:#f37d39;
  margin:0;
  padding:10px;
  cursor:pointer;
}

.cc-contactpop h3 span {
    font-style: oblique;
}
.cc-contactpop p {
  text-align:center;
  padding:10px 15px;
  margin-bottom:0px;
  font-size:12px;
}
.cc-contactpop i {
	position: absolute;
	top: 0px;
	
	right: 0px;
	color: #fff;
	font-weight: 100;
	font-size: 8px;
	padding: 10px;
	cursor: pointer;
	background: #f37d39;
}
.cc-contactpop form {
  padding:0px 5px;
}
.cc-contactpop input {
  font-family: "PT Sans",sans-serif;
  font-size: 0.875em;	
  width: 100%;
  height: 35px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: black;
  border: solid 1px #f37d39;
  
  
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}


.cc-contactpop textarea {
  font-family: "PT Sans",sans-serif;
  font-size: 0.875em;	
  width: 100%;
  max-width: 100%;
  height: 100px;
  max-height: 110px;
  padding: 10px;
  background: transparent;
  outline: none;
  color: black; 
  border: solid 1px #f37d39;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}



.cc-contactpop button {
	font-family: "PT Sans",sans-serif;
	font-size: 0.875em;	
	padding:10px;
	background:transparent;
	width: 100%;
	color: black;
	outline:none;
	cursor: pointer;
	border: solid 1px #f37d39;
	margin-top:0px;
}

.cc-contactpop button:hover {
  background:#f37d39;
}
