{% extends 'base.html' %}
 {% block content %}

<section id="at" class="at_c"  >

<div class="container">
  <div class="row">
    <div class="col-md-12 card mb-0  mt-0 left top"  >
      <div class="card-body">
       
         
        <h1 style="font-family: Montserrat  ;font-size: 4vw  ; padding-top: 0px ;"><b>{% block title %} {{ object.title }} {% endblock title %}</b></h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        
        
        
  
<div id="share-buttons">
    
    
    <!-- Email -->
    <a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 {% url 'post_detail' post.slug  %}">
        <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
    </a>
 
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=https://vivekalex.pythonanywhere.com{% url 'post_detail' post.slug  %}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
    
 
    
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
    </a>
    
  
  
    <!-- Tumblr-->
    <a href="http://www.tumblr.com/share/link?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
    </a>
     
    <!-- Twitter -->
    <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>

   

</div>

       
        
         <img class ="post_image" src="{{post.dimage.url}}" alt="Flowers in Chania"  width= 100%  height=auto  >
        <div> 
         <div class="card-text "  style="color: #353638 ; font-family: DejaVu Sans ; ">{{ object.content | safe }}
        </div>
         <h2 style=' font-size:18px ;,font-weight:400;' >{% for tag in object.tags.all  %} 
    		{{ tag.name }}
    		{% if not forloop.last %}
    		{% endif %}
		{% endfor %}              
                       </h2>
                       
         
        <h2 style='padding-top: 50px;padding-bottom:20px; font-weight:600;' >Related posts</h2>
         
      
        <div id="relp">
         
         {% for post in related_posts %}
         
         
         <ul>
           <div style="
             padding-top: 0px;
             border-top: none;">
   
             <img src="{{post.dimage.url}}" width="300" height="150" alt="" />
             <a href="{% url 'post_detail' post.slug  %}" ><p style=" color: rgb(15, 15, 15);width: 300px;">{{post.title}}</p></a>
             
             
           </div>
         </ul>
          {% endfor %}
        </div>    
          </div>  
       
        </div>
    </div>
  

  </div>
</div>
</section>

{% endblock content %}
