
{% extends 'base.html' %}
{% block content %}

{% if object.media_status == "video" %}  
    <div class="container-fluid tm-container-content tm-mt-60" style ="padding-left:50px;">
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary" style ="padding-top:50px;">{% block title %} {{ object.title}} {% endblock title %}</h2>
        </div>
        <div class="row tm-mb-90">            
            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <video autoplay muted loop controls id="tm-video">
                    <source src="{{object.g_video.url}}" type="video/mp4">
                </video>  
                
            </div>
{% endif %}   

{% if object.media_status == "image" %}  
    <div class="container-fluid tm-container-content tm-mt-60" style ="padding-left:50px;">
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary" style ="padding-top:50px;">{{ object.title}}</h2>
        </div>
        <div class="row tm-mb-40">            
             <img src="{{object.g_image.url}}" alt="Girl in a jacket" width="800" height="600"> 
            </div>
            
{% endif %}
            
                   
                    <div style ="padding-top:0px;" >
                        <div style="padding-left:20px; color : red;"><p>{{ object.g_content }}</p></style></div>
                        <h3 class="tm-text-gray-dark mb-3">Tags</h3>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Cloud</a>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Bluesky</a>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Nature</a>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Background</a>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Timelapse</a>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Night</a>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Real Estate</a>
                    </div>
                </div>
            </div>
        </div>
       
        </div> <!-- row -->
    </div> <!-- container-fluid, tm-container-content -->

<script src="js/plugins.js"></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
    
    
{% endblock content %}
