{% extends 'base.html' %}
 {% block content %}

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-site-verification" content="T6hjvvGUYLg_ebyLP7ZZwzB-U9WPmD51I84tQemx4Q4"/>
<title> Contact us  </title>
    <meta name="description" content="Need assistance? We'll get you the help you need">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="contactus,futurspot,technews,innovation,latestinnovation,technologynews">
    <meta name="og:title" content=" Contact us ">
    <meta name="og:description" content="Need assistance? We'll get you the help you need">

</head>



<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }



  .about-section {
    padding-top: 140px;
    padding-bottom: 160px;
    text-align: center;
    background-color: white;
    color: black;
  }











  </style>
<body>


<div class="about-section">
  <h1 style="font-weight:400 ;">About Us</h1> <p style="color:black;margin-left:100px;margin-right: 100px;"><p><b>“Once a new technology rolls over you, if you're not part of the steamroller, you're part of the road.”
    Stewart Brand</b></p>.
 <div style="color:black;margin-left:100px;margin-right: 100px;text-align: justify;">   <p >FuturSpot is an online media that reporting on the latest news, stories, articles and updates of Science, Research and Technology.
  <p> Day by day the world is progressing beyond our thoughts, from wheel to self-driving cars, firecrackers to vertical landing reusable rockets, 0$ to trillion-dollar companies, manual switching system to artificial intelligence technology, and so on.
      Even though We can’t slow down the progress of technology, we can learn it.
         With Futurspot, anyone can become a techno-savvy without any herculean efforts. Futurspot is simple, sharp, short, clean as well as noiseless. Our aim to make everyone Digital-savvy despite their limitations.
         <p> Futurspot will deliver latest innovations on Artificial intelligence, robotics,electronics, virtual reality, internet of things, startups, and entrepreneurship stories for all technology and entrepreneurship enthusiasts.
          <p>    Stories are posted daily, selected from press materials provided by universities, journal publishers, government agencies, corporations, and other organizations engaged in all disciplines of scientific research from around the world.If you are a person mentioned in the story or you are a copyright holder and believe that any content should be removed, revised or taken down, please contact us</p>
        </div>



</div>
</body>

​


{% endblock content %}
