
{% extends "base.html" %}

{% load hitcount_tags %}
{% block head %}

  <title>FuturSpot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.00, maximum-scale=2.00, minimum-scale=1.00">
  <meta name="description" content="Noice free, curated innovation stories around the globe!.">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="futurspot,technews,innovation,Artificial intelligence,robotics,science,vr,computing,latestinnovation,technologynews">
  <meta name="og:image:secure_url" content="https://www.futurspot.com/static/img/logo.png">
  <meta name="og:image" content="https://www.futurspot.com//static/img/logo.png">
  <meta name="og:title" content="FuturSpot ">
  <meta name="og:description" content="Noice free, curated news on innovations around the globe!.">

  <meta name="google-site-verification" content="T6hjvvGUYLg_ebyLP7ZZwzB-U9WPmD51I84tQemx4Q4"/>
  <!-- microsoft -->
  <script type="text/javascript">
      (function(c,l,a,r,i,t,y){
          c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
          t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
          y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "5onogzvnw5");
  </script>
  <script>
      (function(c,l,a,r,i,t,y){
          c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
          t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
          y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "5onogzvnw5");
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-190791322-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-190791322-1');
  </script>

  <script data-ad-client="ca-pub-7206542058393954" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

{% endblock head %}
<!--==========================
    Intro Section
  ============================-->

{% block content %}


  <section id="intro">




    <div class="container">
      <!-- row -->
      <div style="padding: 0 15px;" class="row hot-post">
        <div class="col-md-8 hot-post-left">
            <!-- post -->
            {% for post in intro_post1%}
            <div class="post post-thumb" onclick="javascript:window.location.href='{% url 'post_detail' post.slug  %}'">
               <a class="post-img"><img  max-height=100% src="{{post.dimage.url}}" alt="{{ post.title}}"></a>
               <div class="post-body">

                  <h3 class="post-title title-lg">{{ post.title}}</h3>
                   <div class="post-category">
                     <h2 style="font-size:14px;font-weight:700;color:orange;">{{ post.alt_text }}</h2>
                  </div>
                  <ul class="post-meta">
                     <li><a >{{ post.event_author}}</a></li>
                     <li>{{ post.pub}}</li>
                  </ul>
               </div>
            </div>

            {% endfor %}

            <!-- /post -->
         </div>

         <div class="col-md-4 hot-post-right">
            <!-- post -->
            {% for post in intro_post2%}
            <div class="post post-thumb" onclick="javascript:window.location.href='{% url 'post_detail' post.slug  %}'">
               <div class="post-img" ><img src="{{post.dimage.url}}" alt="{{ post.title}}">

               </div>
               <div class="post-body">

                   <h3 class="post-title">{{ post.title}}</h3>

                  <ul class="post-meta">
                     <li>{{ post.event_author}}</li>
                     <li>{{ post.pub}}</li>
                  </ul>
               </div>
            </div>
            {% endfor %}
            <!-- /post -->
            <!-- post -->
            {% for post in intro_post3%}
            <div class="post post-thumb" onclick="javascript:window.location.href='{% url 'post_detail' post.slug  %}'">
               <div class="post-img"><img src="{{post.dimage.url}}" alt="{{ post.title}}"></div>
               <div class="post-body">

                  <h3 class="post-title">{{ post.title}}</h3>

                 <ul class="post-meta">
                     <li>{{ post.event_author}}</li>
                     <li>{{ post.pub}}</li>
                  </ul>
               </div>
            </div>
            {% endfor %}
            <!-- /post -->
         </div>
        </div>
      <!-- /row -->
   </div>



      </section>



<!-- #intro -->
<!--==========================
    Latest News
  ============================-->





<section class="recentNews">
	<div class="container">

   <div class="section-titless">
  <h2 class="titless">Recent Stories</h2></div>
 <div class="row">

      {% for post in total_post%}
      {% if post.alt_text == "Articles" %}
      <div class="ct-blog col-sm-0 col-md-3 nmooo" onclick="javascript:window.location.href='{% url 'post_detail' post.slug  %}'">


        <div class="inner">


         <div class="fauxcrop">
             <a href="{% url 'post_detail' post.slug  %}"><img alt="{{ post.title}}" src="{{post.dimage.url}}"></a>
         </div>
         <div style="display: flex; padding-top: 5px ;">

         <div class="rectangle"><p style ="color: aliceblue  ;font-weight: 600; text-align: center; font-size: 14px; " > {{ post.alt_text }}</p></div>
         <!--<div class="rectangle-d" ><p>{{ post.created_on.day }}-{{ post.created_on.month }}-{{ post.created_on.year }}</p></div>
         -->       </div>
       <div><h3 class="ct-blog-header" ><p style="word-break: break-word; text-align: justify;">{{post.title}}</p></h3></div>
     <div id="auth_name">
        <p style=" font-family:sans-serif,inter;  font-size: .8vw; font-weight: 900; color: #97989b;">BY {{ post.event_author}}&nbsp;&nbsp;{{ post.pub}}</p>
         </div>
       </div>

      </div>
      {% endif %}
      {% if post.alt_text == "Reviews" %}
      <div class="ct-blog col-sm-0 col-md-3 nmooo" onclick="javascript:window.location.href='{% url 'post_detail' post.slug  %}'">


        <div class="inner">


         <div class="fauxcrop">
             <a href="{% url 'post_detail' post.slug  %}"><img alt="{{ post.title}}" src="{{post.dimage.url}}"></a>
         </div>
         <div style="display: flex; padding-top: 5px ;">

         <div class="rectangle"><p style ="color: aliceblue  ;font-weight: 600; text-align: center; font-size: 14px; " > {{ post.alt_text }}</p></div>
         <!--<div class="rectangle-d" ><p>{{ post.created_on.day }}-{{ post.created_on.month }}-{{ post.created_on.year }}</p></div>
         -->
       </div>
       <div><h3 class="ct-blog-header" ><p style="word-break: break-word; text-align: justify;">{{post.title}}</p></h3></div>
       <div id="auth_name">
        <p style=" font-family:sans-serif,inter;  font-size: .8vw; font-weight: 900; color: #97989b;">BY {{ post.event_author}}&nbsp;&nbsp;{{ post.pub}}</p>
         </div>
       </div>

      </div>
      {% endif %}


      {% if post.alt_text == "Innovations" %}
      <div class="ct-blog col-sm-0 col-md-3 nmooo" onclick="javascript:window.location.href='{% url 'post_detail' post.slug  %}'">


        <div class="inner">


         <div class="fauxcrop">
             <a href="{% url 'post_detail' post.slug  %}"><img alt="{{ post.title}}" src="{{post.dimage.url}}"></a>
         </div>
         <div style="display: flex; padding-top: 5px ;">

         <div class="rectangle"><p style ="color: aliceblue  ;font-weight: 600; text-align: center; font-size: 14px; " > {{ post.alt_text }}</p></div>
         <!--<div class="rectangle-d" ><p>{{ post.created_on.day }}-{{ post.created_on.month }}-{{ post.created_on.year }}</p></div>
         -->
       </div>
       <div><h2 class="ct-blog-header" ><p style="word-break: break-word; text-align: justify;">{{post.title}}</p></h2></div>
       <div id="auth_name">
        <p style=" font-family:sans-serif,inter;  font-size: .8vw; font-weight: 900; color: #97989b;">BY {{ post.event_author}}&nbsp;&nbsp;{{ post.pub}}</p>
         </div>

       </div>

      </div>

      {% endif %}
      {% if post.alt_text == "Gallery" %}

      <div class="ct-blog col-sm-0 col-md-3 nmooo" onclick="javascript:window.location.href='{% url 'gallery_detail' post.slug  %}'">


        <div class="inner">


           <div class="fauxcrop">
           <a href='{% url 'gallery_detail' post.slug  %}'><img alt="{{ post.title}}" src="{{post.g_thumb.url}}"></a>
           </div>
           <div style="display: flex; padding-top: 5px ;">
           <div class="rectangle"><p style ="color: aliceblue  ;font-weight: 600; text-align: center; font-size: 14px; " > {{ post.alt_text }}</p></div>
          <!-- <div class="rectangle-d" ><p>{{ post.created_on.day }}-{{ post.created_on.month }}-{{ post.created_on.year }}</p>
           </div>-->
       </div>
       <div><h3 class="ct-blog-header" ><p style="word-break: break-word; text-align: justify;">{{post.title}}</p></h3></div>
      <div id="auth_name">
        <p style=" font-family:sans-serif,inter;  font-size: .8vw; font-weight: 900; color: #97989b;">BY {{ post.event_author}}&nbsp;&nbsp;{{ post.pub}}</p>
         </div>
      </div>

     </div>
      {% endif %}
      {% if post.alt_text == "Events" %}
      <div class="ct-blog col-sm-0 col-md-3 nmooo" onclick="javascript:window.location.href='{% url 'event_detail' post.slug  %}'">


        <div class="inner">


         <div class="fauxcrop">
             <a href="{% url 'event_detail' post.slug %}"><img alt="{{ post.title}}" src="{{post.e_thumb.url}}"></a>
         </div>
         <div style="display: flex; padding-top: 5px ;">

         <div class="rectangle"><p style ="color: aliceblue  ;font-weight: 600; text-align: center; font-size: 14px; " > {{ post.alt_text }}</p></div>
       <!--  <div class="rectangle-d" ><p>{{ post.created_on.day }}-{{ post.created_on.month }}-{{ post.created_on.year }}</p></div>
          -->
       </div>
             <div><h3 class="ct-blog-header" ><p style="word-break: break-word; text-align: justify;">{{post.title}}</p></h3></div>
 <div id="auth_name">
        <p style=" font-family:sans-serif,inter;  font-size: .8vw; font-weight: 900; color: #97989b;">BY {{ post.event_author}}&nbsp;&nbsp;{{ post.pub}}</p>
         </div>
            </div>



      </div>
      {% endif %}


{% endfor %}

<!--    </div>        -->

</div>


<div id="load" style=""><a href="#">Load More</a></div>

<!--
     <div style="display: grid;">
    <div class="section-titless">
      <h2 class="titless">Trending Now</h2></div>

        {% for post in popular_posts_1%}

        <div style=" padding-left: 0px;">
        <a href="{% url 'post_detail' post.slug  %}"><div style="position: relative; "> <p><img id ="im_tre" src="{{post.dimage.url}}"  alt="{{ post.title}}" /></p>
        <div id="div1_tre" ><div style="position:absolute;left: 10px;padding-right: 1%; padding-left: 1%; top: 5%; text-align: center;background-color:orangered ; color:white ;font-weight: 400;font-size: 12px;" >FEATURED</div>
        <div id ="ti_tre"> {{ post.title }}</div>
      </div>

      </div></a>


        {% endfor %}
      </div>

-->
       <div class="section-titless">
        <h2 class="titless">innovation news</h2></div>
      <div id="di3_inn"  >


        {% for post in Post%}
        {% if post.alt_text == "Innovations" %}

        <div id="di_inn" >
       <img id="img_inn"  src="{{post.dimage.url}}"  alt="{{ post.title}}" >
        <p id="p_inn" ><a href="{% url 'post_detail' post.slug  %}" class="title_sections">{{post.title}}</a></p>
        <p id ="p2_inn"><a href="{% url 'post_detail' post.slug  %}"  style=" font-family:sans-serif,inter;  font-size: .8vw; font-weight: 900; color: rgb(235, 92, 92);">Read More</a></p>

      </div>
      {%endif%}
        {% endfor %}

          </div>



<!--style="display:flex; flex-wrap: wrap; margin-bottom: 10px;float:left;margin:auto; width: 300px;padding: 80px 0px 90px 0px;left: 0px; position: relative;" -->
      <div id="div_pop">

        <div class="section-titless">
          <h2 class="titless">Popular stories</h2></div>
    <div id="di3_inn"  >


            {% for post in popular_posts%}

            <div id="di_inn" >
           <img id="img_inn"  src="{{post.dimage.url}}"  alt="{{ post.title}}" >
            <p id="p_inn" ><a href="{% url 'post_detail' post.slug  %}" class="title_sections">{{post.title}}</a></p>
            <p id ="p2_inn"><a href="{% url 'post_detail' post.slug  %}"  style=" font-family:sans-serif,inter;  font-size: .8vw; font-weight: 900; color: #97989b;">BY {{ post.event_author}}&nbsp;&nbsp;{{ post.pub}}</a></p>

          </div>

            {% endfor %}

              </div>
      <div class="section-titless">
      <h2 class="titless">Reviews</h2></div>
        <div  class="div2_sections">

            {% for post in Reviews_popular%}

            <ul style="margin: 0px;
            padding: 0px;padding-right: 10px;  ">
              <div class="div_sections">

                <img class="img_sections" src="{{post.dimage.url}}" alt="{{ post.title}}" />
                <p style="text-align:justify ;"><a href="{% url 'post_detail' post.slug  %}" class="title_sections">{{post.title}}</a></p>


              </div>
              <div id="auth_name">
           <p style=" font-family:sans-serif,inter;  font-size: .8vw; font-weight: 900; color: #97989b;">BY {{ post.event_author}}&nbsp;&nbsp;{{ post.pub}}</p>
                </div>
            </ul>


             {% endfor %}

            </div>
            <div class="section-titless">
              <h2 class="titless">Articles</h2></div>
            <div  class="div2_sections">

                {% for post in Articles_popular%}

                <ul style="margin: 0px;
                padding: 0px;padding-right: 10px;">
                  <div class="div_sections" >

                    <img class="img_sections" src="{{post.dimage.url}}"  alt="{{ post.title}}" />
                    <p style="text-align:justify ;" ><a href="{% url 'post_detail' post.slug  %}"class="title_sections">{{post.title}}</a></p>


                  </div>
                  <div id="auth_name">
             <p style=" font-family:sans-serif,inter;  font-size: .8vw; font-weight: 900; color: #97989b;">BY {{ post.event_author}}&nbsp;&nbsp;{{ post.pub}}</p>
                </div>
                </ul>


                 {% endfor %}

                </div>


  </div>



    <script>
      //Infinite Scroll
$(window).on("scroll", function() {
 //page height
 var scrollHeight = $(document).height();
 //scroll position
 var scrollPos = $(window).height() + $(window).scrollTop();
 // fire if the scroll position is 300 pixels above the bottom of the page
 if(((scrollHeight - 300) >= scrollPos) / scrollHeight == 0){
   $('.load-more-days-button').click();
  }
});
    </script>

 <div id="div_gall" >
   <div class="section-titless">
    <h2 class="titless">Gallery</h2></div>
  <div class="div2_sections">

   {% for post in Gallery_sidebar%}
   <ul style="margin: 0px;
   padding: 0px;padding-right: 10px;">
     <div class="div_sections">

       <img class="img_sections" src="{{post.g_thumb.url}}" alt="{{ post.title}}" />
       <p style="text-align:justify ;"><a href='{% url 'gallery_detail' post.slug  %}' class="title_sections">{{post.title}}</a></p>


     </div>
     <div id="auth_name">
      <p style=" font-family:sans-serif,inter;  font-size: .8vw; font-weight: 900; color: #97989b;">BY {{ post.event_author}}&nbsp;&nbsp;{{ post.pub}}</p>
         </div>
    </ul>
    {% endfor %}


 </div>

 <div class="section-titless">
  <h2 class="titless">Tech Events</h2></div>

 <div class="div2_sections">



     {% for post in  Event_sidebar%}

     <ul style="margin: 0px;padding: 0px;padding-right: 10px;">
       <div class="div_sections">
       <img class="img_sections"  src="{{post.e_thumb.url}}"  alt="{{ post.title}}" />
        <p style="text-align:justify ;"><a href="{% url 'event_detail' post.slug  %}" class="title_sections">{{post.title}}</a></p>


       </div>
       <div id="auth_name">
        <p style=" font-family:sans-serif,inter;  font-size: .8vw; font-weight: 900; color: #97989b;">BY {{ post.event_author}}&nbsp;&nbsp;{{ post.pub}}</p>
         </div>
      </ul>

      {% endfor %}


   </div>

 </div>

  </div>
</div>


  </section>




{%endblock%}
