
{% extends "base.html" %} 


{% block content %}
<!DOCTYPE HTML>


<html lang="en">
	<head><meta name="google-site-verification" content="T6hjvvGUYLg_ebyLP7ZZwzB-U9WPmD51I84tQemx4Q4"/></head>

<section class="recentNews">
	<div class="container">

    <h2 style="padding-top :100px; font-family: heroic ; text-align : center ;font-size: 44px ;">Electronics</style></h2>
    <div class="row">
{% for post in post_list %}    
{% if post.innovation_catgry == 2 %}
<div class="ct-blog col-sm-0 col-md-3 nmooo" onclick="javascript:window.location.href='{% url 'post_detail' post.slug  %}'">

						   
	<div class="inner">
   
					   
	   <div class="fauxcrop">
	   <a href="{% url 'post_detail' post.slug  %}"><img alt="asdkjasd asjdh" src="{{post.dimage.url}}"></a>
	   </div>
	   <div style="display: flex; padding-top: 5px ;">
	   <div class="rectangle"><p style ="color: aliceblue  ;font-weight: 600; text-align: center; font-size: 14px; " > {{ post.alt_text }}</p></div>  
	   <div class="rectangle-d" ><p style="font-size: 14px;font-weight: 600;">{{ post.created_on.day }}-{{ post.created_on.month }}-{{ post.created_on.year }}</p>
	   </div>
   </div>
	<div><h3 class="ct-blog-header" >{{ post.title }}</h3></div>
	   
   </div>
   <div id="auth_name">
	<h3 style="font-weight: 600; font-size: 12px;padding-left: 5px; color: rgb(71, 71, 71);" >BY {{ post.event_author}} </h3>
	<h3 style="padding-left: 30px;font-weight: 500; font-size: 12px; color: rgb(56, 56, 56);">{{ post.pub}}</h3>
   </div> 
</div>

{% endif %}        
 
{% endfor %}     

<div id="load" style=""><a href="#">Load More</a></div>

</div>    
</div> 
</section>

{%endblock%}
